body{
    padding:0;margin:0;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    
}
/* #big li ul{
    display: block;
} */

#big li ul li a:hover {
   
    border: 1px solid red
}
#big li{
    position: relative;
}
#big li ul{
    position: relative;
    transform:translateX(10px)
}