body
{
    font-family: monospace;
    min-height: 100vh;
    min-width: 100vh;
    padding: 0;
    margin:0;
    
}
header{
    position: fixed;
    background-color:#f0932b;
    COLOR:BLACK;
    FONT-FAMILY: monospace;
    width: 100%;
    z-index: 1001;
}

header ul{
    position: relative;
    top:6px;
    display: flex;
    height:100%;
    align-items:center;
    /* height: 30px; */
}
header ul li{
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    
}
/* extra navigation */
header ul li ul{
    border-radius: 100px;
    display: none;
    flex-direction: column;
    position: absolute;
    transform: translateX(-60px);
    
}
header ul li ul:hover{
    color: black;
}
header ul li ul li{
    background-color: #f0932b;
}
header ul li ul li a {
    color: black;
    
}
#namepage{
    position:absolute;
    right: 10px;
    font-size: 17pt;
}
#namepage:hover{
    background-color: unset;
}
header ul li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}
header ul li:hover {
    background: white;
    text-decoration:none;
    
}
header ul li:hover a {
    text-decoration: none;
    color:#f0932b;
}


/* container */


#container{
    display: flex;
    font-family: monospace

}

/* navigation bar  */

#container nav{
    position: fixed;
    top: 70px;
    font-size: 12pt;
    width: 18%;
    top: 70px;
    overflow-y: scroll;
    bottom:0;
}
/* #container nav div{
    position:sticky;
} */
/* #container nav div ul{
    position: relative;
} */
#container nav ul li{
    list-style: none;
    cursor: pointer;
    padding: 2px 0
}
#container nav ul li a{
    text-decoration: none;
    color: black
}
#container nav ul li ul li{
    list-style: none;  
    /* text-align: center; */
    padding-left: 18px;
}
#container nav ul li ul li a{
    text-decoration: none;   
}
#container nav ul li ul{
    display: block;
    position: relative;
    transform: translateX(-40px);
}
#container ul li ul li:hover{
    background-color:#f0932b;
    
}
#container ul li ul li:hover a{
    color:white;
    
}





/* article part */
article{
    font-size: 11pt;
    position: relative;
    left: 20%;
    margin-left: 15px;
}
 #container article{
    position: relative;
    top: 70px; 
    width:60%;
}
#article1{
    display: block;

}
#article2{
    display: none;
}
#article3{
    display: none;
}
#htmlArticle{
    display:none
}

/* small editor */
 #bg-modal{   /*leavethis one as id instead of class */
    display:none ;
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 1000%;
    background-color: black;
    opacity: 0.6;
    z-index: 999  ;
}
.box{
    position: relative; 
    display:flex;
    flex-direction: column;
    /* z-index: 99; */
    width:90%;
    /* width:110%; */
    border: 2px solid #f0932b;
    height: 270px; 
    /* height: 500px; */
    transition-duration:0.5s;
    z-index: 998;
    /* transform: translateX(-30px)  */
}

 .editor{
    display: flex;
    width: 100%;  
    height: 100%;
    
 }
.code{
    width: 60%;
}
.editor iframe{
    
    height: 100%;
    width:40%;
    border: none;
    z-index:99;
    background-color: white;
}
 .headbar{   
     width: 100%;
     background-color: #f0932b;
 }
 .headbar a{
     padding-left:5px;
     padding-right: 5px;
     cursor: pointer;
     height: 100%;
     margin: 10px;
     font-size: 12pt;
     background-color: white;
     border-radius: 3px
 }
 .headbar a:hover{
     background: #badc58;
 }



 /* others */
 code {
    background-color: #eee;
    border-radius: 3px;
    font-family: monospace;
    padding: 0 3px;
    font-size: 10px;
    font-weight: bold;
}

/* mini editor */

i{
    font-weight: bold;
}
table{
    border: 1px solid;
}

#bottom{
    position: relative;
    height:250px;
    margin: 20px;
}

p{
    position: relative;
    left:15px
}
p.heading {
    position: relative;
    left: 0px
}

/* side controller */
#controller{
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 50pt;
    right: 80px;
    top: 40%;
    /* align-items: center; */
    
}
/* #controller div{
    transform: rotate(deg);
} */
